.gantt {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
}

.ganttVerticalContainer {
  overflow: hidden;
  /* font-size: 0; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* flex-shrink: 0; */
  flex-grow: 0;
}

.horizontalContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.task_horizontalContainer {
  position: absolute;
  top: 88px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  /* overflow: hidden; */
  /* border-bottom: 1px solid #d9d9d9; */
}

.gantt_horizontalContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-grow: 1;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  position: relative;
  overflow: hidden;
}
