.tooltip {
  position: absolute;
}

.tooltip_content {
  z-index: 2;
}

.tooltipDefaultContainer {
  background: #fff;
  padding: 12px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.12);
  border-radius: 4px;
  flex-direction: column;
  color: #212121;
  font-size: 12px;
  /* width: 328px; */
}

.tooltipDefaultContainerParagraph {
  font-size: 12px;
  margin-bottom: 6px;
  color: #666;
}

.tooltipDetailsContainer {
  position: absolute;
  display: flex;
  flex-shrink: 0;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltipDefaultContainer_item {
  display: flex;
  align-items: center;
}

.tooltipDefaultContainer_item:not(:last-child) {
  margin-bottom: 8px;
}

.tooltipDefaultContainer_item_color {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.tooltipDefaultContainer_item_name {
  margin-right: 4px;
}

.tooltipDetailsContainerHidden {
  visibility: hidden;
  position: absolute;
  display: flex;
  pointer-events: none;
}
